{% extends 'core/base_index_django.html' %}
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Container</title>
      {% block headcontent %}
  {% load static %}

 <base href="/katana/container">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bs-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}">
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'css/icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/font_sans.css' %}">

  <link rel="stylesheet" href="{% static 'build/styles.a6fa31148d42bd960138.css' %}">
</head>

{% endblock %}
{% block navbar_color_class %}{% endblock %}
{% block navbar_extra_style %}background-color: rgb(163,11,26){% endblock %}
{% block navbar_title %}

{% endblock %}
{% block pagecontent %}
<body>   

  <app-root></app-root>
   
    <script src="{% static 'build/runtime-es5.839003fc7f90ff692c45.js' %}" type="text/javascript"></script>
    <script src="{% static 'build/runtime-es2015.839003fc7f90ff692c45.js' %}" nomodule defer></script>
    <script src="{% static 'build/polyfills-es2015.5b10b8fd823b6392f1fd.js' %}" nomodule defer></script>
    <script src="{% static 'build/polyfills-es5.8e50a9832860f7cf804a.js' %}" type="text/javascript"></script>
    <script src="{% static 'build/scripts.c65592293ae612b65c2f.js' %}" nomodule defer></script>
    <script src="{% static 'build/main-es5.d105f54d1d0bdb0adfc4.js' %}" type="text/javascript"></script>
    <script src="{% static 'build/main-es2015.d105f54d1d0bdb0adfc4.js' %}" nomodule  defer></script>

    <script src="{% static 'build/5-es2015.d4f5fcc02c7d59590afc.js' %}" nomodule  defer></script>
    <script src="{% static 'build/5-es5.d4f5fcc02c7d59590afc.js' %}" type="text/javascript"></script>
    <script src="{% static 'build/6-es2015.7b3289f60ff77cd35980.js' %}" nomodule defer></script>
    <script src="{% static 'build/6-es5.7b3289f60ff77cd35980.js' %}" type="text/javascript"></script>
    <script src="{% static 'build/7-es2015.7b3289f60ff77cd35980.js' %}" nomodule defer></script>
    <script src="{% static 'build/7-es5.7b3289f60ff77cd35980.js' %}" type="text/javascript"></script>
 {% endblock %}
</body>
</html>
